.green{
    background-color:rgb(122, 192, 122);
    color: black;
}

.amount{
    color: #000;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.currency{
    color: #000;
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}